<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:render section="general" arguments="{poll:poll}" />
<f:section name="general">
	<div class="card mb-4">
		<div class="card-header">
			<strong><f:translate key="header.form.general" /></strong>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-sm-7 col-md-8 col-lg-9">
					<div class="form-group">
						<label for="t3oodle-poll-title"><f:translate key="poll.title" /><span class="required">*</span></label>
						<f:form.textfield id="t3oodle-poll-title" class="form-control" property="title" />
						<f:render partial="FormFieldErrors" arguments="{for: 'poll.title'}" />
					</div>

					<div class="form-group">
						<label for="t3oodle-poll-description"><f:translate key="poll.description" /></label>
						<f:form.textarea id="t3oodle-poll-description" class="form-control" property="description" />
						<f:render partial="FormFieldErrors" arguments="{for: 'poll.description'}" />
					</div>

					<div class="form-group">
						<label for="t3oodle-poll-link"><f:translate key="poll.link" /></label>
						<f:form.textfield id="t3oodle-poll-link" class="form-control" property="link" placeholder="{f:translate(key:'label.linkPlaceholder')}" />
						<f:render partial="FormFieldErrors" arguments="{for: 'poll.link'}" />
					</div>
				</div>
				<div class="col-sm-5 col-md-4 col-lg-3">
					<div class="form-group">
						<label><f:translate key="poll.visibility" /><span class="required">*</span></label>
						<div class="form-check">
							<f:form.radio property="visibility" value="listed" class="form-check-input" id="t3oodle-poll-visibility-listed" />
							<label class="form-check-label" for="t3oodle-poll-visibility-listed">
								<f:translate key="poll.visibility.listed" />
							</label>
						</div>
						<div class="form-check">
							<f:form.radio property="visibility" value="not_listed" class="form-check-input" id="t3oodle-poll-visibility-not-listed" />
							<label class="form-check-label" for="t3oodle-poll-visibility-not-listed">
								<f:translate key="poll.visibility.notListed" />
							</label>
						</div>
						<f:render partial="FormFieldErrors" arguments="{for: 'poll.visibility'}" />
					</div>
				</div>
			</div>
		</div>
	</div>
</f:section>

<f:render section="author" arguments="{poll:poll}" />
<f:section name="author">
	<div class="card mb-4">
		<div class="card-header">
			<strong><f:translate key="header.form.author" /></strong>
		</div>
		<div class="card-body">
			<f:if condition="{poll.author}">
				<f:then>
					<f:form.hidden property="author" />
					<div>{poll.authorName}</div>
					<div>{poll.authorMail}</div>
				</f:then>
				<f:else>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="t3oodle-poll-author-name"><f:translate key="poll.author_name" /><span class="required">*</span></label>
								<f:form.textfield id="t3oodle-poll-author-name" class="form-control" property="authorName" data="{remember:'username'}" />
								<f:render partial="FormFieldErrors" arguments="{for: 'poll.authorName'}" />
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="t3oodle-poll-author-mail"><f:translate key="poll.author_mail" /><span class="required">*</span></label>
								<f:form.textfield id="t3oodle-poll-author-mail" class="form-control" property="authorMail" data="{remember:'mail'}" />
								<f:render partial="FormFieldErrors" arguments="{for: 'poll.authorMail'}" />
							</div>
						</div>
					</div>
				</f:else>
			</f:if>
		</div>
	</div>
</f:section>

<f:form.hidden property="type" value="{poll.type}" />
<f:render partial="Poll/Type/{poll.partialName}" arguments="{poll:poll,newOptions:newOptions}" />

<f:render section="settings" arguments="{poll:poll}" />
<f:section name="settings">
	<div class="card mb-4">
		<div class="card-header">
			<strong><f:translate key="header.form.settings" /></strong>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-6">
					<div class="form-check mb-3">
						<f:form.checkbox property="settingTristateCheckbox" value="1" checked="{poll.settingTristateCheckbox} == 1" class="form-check-input mr-3 larger" id="t3oodle-poll-settingTristateCheckbox" />
						<label class="form-check-label" for="t3oodle-poll-settingTristateCheckbox">
							<strong><f:translate key="poll.settingTristateCheckbox.title" /></strong>
							<f:if condition="{poll.votes -> f:count()} > 0"> <span class="badge badge-warning mx-2 text-uppercase"><f:translate key="label.caution" /></span></f:if>
							<br>
							<f:translate key="poll.settingTristateCheckbox.description" />
						</label>
					</div>

					<div class="form-check mb-3">
						<f:form.checkbox property="settingOneOptionOnly" value="1" checked="{poll.settingOneOptionOnly} == 1" class="form-check-input mr-3 larger" id="t3oodle-poll-settingOneOptionOnly" />
						<label class="form-check-label" for="t3oodle-poll-settingOneOptionOnly">
							<strong><f:translate key="poll.settingOneOptionOnly.title" /></strong>
							<f:if condition="{poll.votes -> f:count()} > 0"> <span class="badge badge-warning mx-2 text-uppercase"><f:translate key="label.caution" /></span></f:if>
							<br>
							<f:translate key="poll.settingOneOptionOnly.description" />
						</label>
					</div>

					<div class="form-check mb-3">
						<f:form.checkbox property="settingSecretParticipants" value="1" checked="{poll.settingSecretParticipants} == 1" class="form-check-input mr-3 larger" id="t3oodle-poll-settingSecretParticipants" />
						<label class="form-check-label" for="t3oodle-poll-settingSecretParticipants">
							<strong><f:translate key="poll.settingSecretParticipants.title" /></strong><br>
							<f:translate key="poll.settingSecretParticipants.description" />
						</label>
					</div>
					<div class="form-check mb-3">
						<f:form.checkbox property="settingSecretVotings" value="1" checked="{poll.settingSecretVotings} == 1" class="form-check-input mr-3 larger" id="t3oodle-poll-settingSecretVotings" />
						<label class="form-check-label" for="t3oodle-poll-settingSecretVotings">
							<strong><f:translate key="poll.settingSecretVotings.title" /></strong><br>
							<f:translate key="poll.settingSecretVotings.description" />
						</label>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-check mb-3">
						<f:form.checkbox name="enableSettingMaxVotesPerOption" value="1" checked="{poll.settingMaxVotesPerOption} > 0" class="form-check-input mr-3 larger" id="t3oodle-poll-enableSettingMaxVotesPerOption" />
						<label class="form-check-label" for="t3oodle-poll-enableSettingMaxVotesPerOption">
							<strong><f:translate key="poll.settingMaxVotesPerOption.title" /></strong>
							<f:if condition="{poll.votes -> f:count()} > 0"> <span class="badge badge-warning mx-2 text-uppercase"><f:translate key="label.caution" /></span></f:if>
							<br>
							<f:translate key="poll.settingMaxVotesPerOption.description" /><br>
							<f:if condition="{poll.settingMaxVotesPerOption} > 0">
								<f:then><f:form.textfield type="number" id="t3oodle-poll-settingMaxVotesPerOption" class="form-control mt-2" property="settingMaxVotesPerOption" data="{bind-disable:'#t3oodle-poll-enableSettingMaxVotesPerOption'}" additionalAttributes="{minn:'0'}" /></f:then>
								<f:else><f:form.textfield type="number" id="t3oodle-poll-settingMaxVotesPerOption" class="form-control mt-2" readonly="readonly" property="settingMaxVotesPerOption" data="{bind-disable:'#t3oodle-poll-enableSettingMaxVotesPerOption'}" additionalAttributes="{minn:'0'}" /></f:else>
							</f:if>
							<f:render partial="FormFieldErrors" arguments="{for: 'poll.settingMaxVotesPerOption'}" />
						</label>
					</div>
					<div class="form-check mb-3">
						<f:form.checkbox name="enableSettingVotingExpiresAt" value="1" checked="{poll.settingVotingExpiresAt}" class="form-check-input mr-3 larger" id="t3oodle-poll-enableSettingVotingExpiresAt" />
						<label class="form-check-label" for="t3oodle-poll-enableSettingVotingExpiresAt">
							<strong><f:translate key="poll.settingVotingExpiresAt.title" /></strong><br>
							<f:translate key="poll.settingVotingExpiresAt.description" /><br>

							<f:if condition="{poll.settingVotingExpiresAt}">
								<f:then>
									<f:form.textfield type="date" id="t3oodle-poll-settingVotingExpiresDate" class="form-control input-date mt-2" property="settingVotingExpiresDate" value="{poll.settingVotingExpiresDate -> f:format.date(format:'Y-m-d')}" data="{bind-disable:'#t3oodle-poll-enableSettingVotingExpiresAt'}" />
									<f:form.textfield type="time" id="t3oodle-poll-settingVotingExpiresTime" class="form-control input-time mt-2" property="settingVotingExpiresTime" value="{poll.settingVotingExpiresTime -> f:format.date(format:'H:i')}" data="{bind-disable:'#t3oodle-poll-enableSettingVotingExpiresAt'}" />
								</f:then>
								<f:else>
									<f:form.textfield type="date" id="t3oodle-poll-settingVotingExpiresDate" class="form-control input-date mt-2" readonly="readonly" property="settingVotingExpiresDate" value="{poll.settingVotingExpiresDate -> f:format.date(format:'Y-m-d')}" data="{bind-disable:'#t3oodle-poll-enableSettingVotingExpiresAt'}" />
									<f:form.textfield type="time" id="t3oodle-poll-settingVotingExpiresTime" class="form-control input-time mt-2" property="settingVotingExpiresTime" value="{poll.settingVotingExpiresTime -> f:format.date(format:'H:i')}" data="{bind-disable:'#t3oodle-poll-enableSettingVotingExpiresAt'}" />
								</f:else>
							</f:if>
							<f:render partial="FormFieldErrors" arguments="{for: 'poll.settingVotingExpiresDate'}" />
							<f:render partial="FormFieldErrors" arguments="{for: 'poll.settingVotingExpiresTime'}" />
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</f:section>

</html>
