<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:t3oodle="http://typo3.org/ns/T3/T3oodle/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:form action="vote" name="vote" object="{vote}" class="voting mb-5">
        <f:form.hidden property="poll" value="{poll}" />

        <f:render section="noticeSecretVoting" arguments="{poll:poll}" />
        <f:section name="noticeSecretVoting">
            <f:if condition="{poll.settingSecretVotings} || {poll.settingSecretParticipants}">
                <div class="alert alert-info">
                    <strong class="d-block">
                        <t3oodle:svg class="mx-1 alert-info" path="Icons/user-secret-solid.svg" />
                        <f:translate key="label.secret.title" />
                    </strong>
                    <f:if condition="{poll.settingSecretVotings} && {poll.settingSecretParticipants}">
                        <f:then><f:translate key="label.secret.all" /></f:then>
                        <f:else>
                            <f:if condition="{poll.settingSecretVotings}">
                                <f:translate key="label.secret.votings" />
                            </f:if>
                            <f:if condition="{poll.settingSecretParticipants}">
                                <f:translate key="label.secret.participants" />
                            </f:if>
                        </f:else>
                    </f:if>
                </div>
            </f:if>
        </f:section>

        <f:render section="noticeExpiring" arguments="{poll:poll}" />
        <f:section name="noticeExpiring">
            <f:if condition="{poll.settingVotingExpiresAt}">
                <div class="alert alert-warning">
                    <td colspan="{poll.options -> f:count() -> t3oodle:math.add(number:1)}" class="text-center">
                        <strong>
                            <t3oodle:svg class="mx-1 alert-warning" path="Icons/clock-regular.svg" />
                            <f:translate key="label.caution" />
                        </strong>
                        <f:if condition="{poll.votingExpired}">
                            <f:then>
                                <f:translate key="label.votingIsExpired.pre" />
                                <time class="font-weight-bold" datetime="{poll.settingVotingExpiresAt -> f:format.date(format:'%Y-%M-%d %H:%I')}">{poll.settingVotingExpiresAt -> f:format.date(format:'{settings.dateTimeFormat}')}</time>
                                <f:translate key="label.votingIsExpired.post" />
                            </f:then>
                            <f:else>
                                <f:translate key="label.votingWillExpire.pre" />
                                <time class="font-weight-bold" datetime="{poll.settingVotingExpiresAt -> f:format.date(format:'%Y-%M-%d %H:%I')}">{poll.settingVotingExpiresAt -> f:format.date(format:'{settings.dateTimeFormat}')}</time>
                                <f:translate key="label.votingWillExpire.post" />
                            </f:else>
                        </f:if>
                    </td>
                </div>
            </f:if>
        </f:section>

        <f:render section="votingTable" arguments="{poll:poll, vote:vote, newOptionValues:newOptionValues}" />
        <f:section name="votingTable">
            <div class="{settings.classes.tableResponsive}">
                <table class="{settings.classes.table} table-borderless voting-poll-type-{poll-type}">
                    <thead>
                        <f:render partial="Poll/Voting/TableHead" arguments="{poll:poll, vote:vote}" />
                    </thead>
                    <tbody>

                    <f:for each="{poll.votes}" as="pollVote">
                        <f:if condition="{settings._currentUserIdent} !== {pollVote.participantIdent}">
                            <f:render partial="Poll/Voting/Row" section="default" arguments="{vote:pollVote}" />
                        </f:if>
                    </f:for>

                    <f:if condition="{poll -> t3oodle:permission(action:'voting')}">
                        <f:then>
                            <tr class="vote yours">
                                <td class="participant">
                                    <div class="row">
                                        <div class="col-10">
                                            <f:if condition="{settings._currentUser}">
                                                <f:then>
                                                    <f:form.hidden property="participant" />
                                                    <f:render partial="Poll/Voting/ParticipantInfo" arguments="{vote:vote}" />
                                                </f:then>
                                                <f:else>
                                                    <f:form.textfield property="participantName" class="form-control form-control-sm" placeholder="{f:translate(key:'label.yourName')}" tabindex="1" data="{remember:'username'}" />
                                                    <f:render partial="FormFieldErrors" arguments="{for: 'vote.participantName'}" />
                                                    <f:form.textfield property="participantMail" class="form-control form-control-sm mt-1" placeholder="{f:translate(key:'label.yourMailAddress')}" tabindex="2" data="{remember:'mail'}" />
                                                    <f:render partial="FormFieldErrors" arguments="{for: 'vote.participantMail'}" />
                                                </f:else>
                                            </f:if>
                                        </div>
                                        <div class="col-2">
                                            <f:if condition="{vote.uid}">
                                                <f:link.action action="deleteVote" arguments="{vote:vote}"
                                                               class="t3oodle-poll-vote-remove btn btn-link btn-sm border-0 text-danger font-weight-bold float-right"
                                                               title="{f:translate(key:'label.removeYourVote')}" data="{confirm:'{f:translate(key:\'label.removeYourVoteConfirmation\')}'}">
                                                    x
                                                </f:link.action>
                                            </f:if>
                                        </div>
                                    </div>
                                </td>
                                <f:if condition="{vote.uid}">
                                    <f:then>
                                        <f:for each="{poll.options}" as="option" iteration="iterator" key="key">
                                            <td class="{f:if(condition:'{iterator.isEven}', then:'even', else:'odd')}">
                                                <f:variable name="optionValue">{vote -> t3oodle:getOptionValue(option:option)}</f:variable>
                                                <f:render partial="Poll/Voting/Box" arguments="{option:option, key:key, value:optionValue.value}" />
                                            </td>
                                        </f:for>
                                    </f:then>
                                    <f:else>
                                        <f:for each="{poll.options}" as="option" iteration="iterator" key="key">
                                            <td class="{f:if(condition:'{iterator.isEven}', then:'even', else:'odd')}">
                                                <f:variable name="newOptionValue"><f:spaceless>
                                                    <f:if condition="{newOptionValues.{option.uid}}">
                                                        <f:then>{newOptionValues.{option.uid}}</f:then>
                                                        <f:else>0</f:else>
                                                    </f:if>
                                                </f:spaceless></f:variable>
                                                <f:render partial="Poll/Voting/Box" arguments="{option:option, key:key, value:newOptionValue}" />
                                            </td>
                                        </f:for>
                                    </f:else>
                                </f:if>
                            </tr>
                        </f:then>
                        <f:else>
                            <f:render partial="Poll/Voting/Row" section="default" arguments="{vote:vote}" />
                        </f:else>
                    </f:if>
                    </tbody>
                </table>
                <f:render partial="FormFieldErrors" arguments="{for: 'vote.optionValues'}" />
            </div>
        </f:section>

        <f:render partial="Poll/Voting/Summary" arguments="{poll:poll, vote:vote}" />
    </f:form>

</html>
