<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:t3oodle="http://typo3.org/ns/T3/T3oodle/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{poll.uid}">
    <f:else>
        <div class="card mb-4">
            <div class="card-header">
                <strong><f:translate key="header.form.options" /></strong>
                <f:render partial="FormFieldErrors" arguments="{for: 'poll.options'}" />
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-lg-5 t3oodle-date-picker mb-4" data-locale="{settings._calendarLocale}">
                        <div class="mb-2"><strong class="title"><f:translate key="label.chooseDates" /></strong></div>
                        <input type="hidden" style="display: none"/>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="mb-2"><strong class="title"><f:translate key="label.selectedDates" /></strong></div>
                        <ul class="selected-dates list-unstyled"></ul>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="mb-2"><strong class="title"><f:translate key="label.optionsPerDay" /></strong></div>
                        <ol class="list-unstyled t3oodle-options-per-day">
                            <f:if condition="{newOptions}">
                                <f:variable name="dayOptions">{newOptions -> t3oodle:schedule.splitDayOptions(get:'options')}</f:variable>
                            </f:if>
                            <f:if condition="{dayOptions -> f:count()} > 0">
                                <f:then>
                                    <f:for each="{dayOptions}" as="option" iteration="iterator">
                                        <f:render section="removeButton" arguments="{option:option}" />
                                    </f:for>
                                </f:then>
                                <f:else>
                                    <f:render section="removeButton" />
                                    <f:render section="removeButton" />
                                </f:else>
                            </f:if>
                        </ol>
                        <div class="amount-of-options my-2">
                            <f:translate key="label.totally" /> <span id="schedule-option-amount">0</span> <f:translate key="label.optionOptions" />
                        </div>
                    </div>
                </div>

                <div id="scheduled-options" style="display: none">
                    <f:if condition="{poll.options -> f:count()}">
                        <f:else>
                            <f:if condition="{newOptions -> f:count()} > 0">
                                <f:then>
                                    <f:for each="{newOptions}" as="option" key="key" iteration="iterator">
                                        <f:form.hidden name="poll[options][{iterator.index}][name]" value="{option.name}"></f:form.hidden>
                                    </f:for>
                                </f:then>
                                <f:else>
                                    <f:form.hidden name="poll[options][0][name]" value=""></f:form.hidden>
                                    <f:form.hidden name="poll[options][1][name]" value=""></f:form.hidden>
                                </f:else>
                            </f:if>
                        </f:else>
                    </f:if>
                </div>
            </div>
        </div>
    </f:else>
    <f:then>
        <f:render partial="Poll/Type/Simple" arguments="{poll:poll,newOptions:newOptions}" />
    </f:then>
</f:if>

<f:section name="removeButton">
    <li class="my-2">
        <f:if condition="{option}">
            <f:then>
                <input autocomplete="off" type=text" maxlength="11" class="form-control new-option-per-day" name="dayOption[]" value="{option}" placeholder="{f:translate(key:'label.dayOptionPlaceholder')}">
            </f:then>
            <f:else>
                <input autocomplete="off" type=text" maxlength="11" class="form-control new-option-per-day" name="dayOption[]" placeholder="{f:translate(key:'label.dayOptionPlaceholder')}">
            </f:else>
        </f:if>
        <button class="t3oodle-poll-option-remove border-0 bg-white text-danger font-weight-bold px-1 ml-2"
                type="button"
                onclick="tx_t3oodle._removeTime(this)"
                title="{f:translate(key:'poll.options.remove')}"
                tabindex="99">x
        </button>
    </li>
</f:section>

</html>
