<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:t3oodle="http://typo3.org/ns/T3/T3oodle/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="content">
    <f:flashMessages/>
    <f:render section="header" arguments="{poll:poll}" />
    <f:render section="form" arguments="{poll:poll}" />
</f:section>

<f:section name="header">
    <f:variable name="header"><f:translate key="header.finish" arguments="{0: poll.title}" /></f:variable>
    <f:if condition="{header}">
        <h1>
            {header}
            <f:if condition="{settings.form.showReturnToListLink}">
                <f:link.action action="show" arguments="{poll:poll}" class="btn btn-link"><f:translate key="label.return" /></f:link.action>
            </f:if>
        </h1>
    </f:if>
</f:section>

<f:section name="form">
    <f:form action="finish" name="poll" object="{poll}" class="finishing">
        <div class="{settings.classes.tableResponsive}">
            <table class="{settings.classes.table} table-striped table-borderless">
                <thead>
                    <f:render partial="Poll/Voting/TableHead" arguments="{poll:poll, vote:vote}"/>
                </thead>
                <tbody>
                <f:for each="{poll.votes}" as="vote">
                    <f:render partial="Poll/Voting/Row" section="default" arguments="{vote:vote, hideRemoveLink:1}"/>
                </f:for>
                <tr>
                    <td>
                        <strong><f:translate key="label.selectFinalOption" /></strong>
                    </td>
                    <f:for each="{poll.options}" as="option" iteration="iterator">
                        <td class="{f:if(condition:'{iterator.isEven}', then:'even', else:'odd')}">
                            <div class="form-check">
                                <f:form.radio name="option" class="form-check-input position-static larger"
                                              value="{option.uid}"/>
                            </div>
                        </td>
                    </f:for>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="text-right">
            <f:form.submit value="{f:translate(key:'label.finishPoll')}" class="btn btn-primary"/>
        </div>
    </f:form>
</f:section>
</html>
