<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:t3oodle="http://typo3.org/ns/T3/T3oodle/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="content">
    <f:flashMessages/>
    <f:render section="header" arguments="{polls:polls}"/>
    <f:render section="totals" arguments="{polls:polls}"/>
    <f:render section="table" arguments="{polls:polls}"/>
    <f:render section="newButton"/>
</f:section>

<f:section name="header">
    <f:variable name="header"><f:translate key="header.list" /></f:variable>
    <f:if condition="{header}">
        <h1>{header}</h1>
    </f:if>
</f:section>

<f:section name="totals">
    <f:variable name="count"><f:count>{polls}</f:count></f:variable>
    <p class="lead"><t3oodle:translate key="label.pollsFound" arguments="{0: count}" /></p>
</f:section>

<f:section name="table">
    <div class="{settings.classes.tableResponsive}">
        <table class="{settings.classes.table} table-list-action">
            <thead>
            <tr>
                <th><f:translate key="poll.title" /></th>
                <f:if condition="{settings.list.columns.type}"><th><f:translate key="poll.type" /></th></f:if>
                <f:if condition="{settings.list.columns.status}"><th><f:translate key="poll.status" /></th></f:if>
                <f:if condition="{settings.list.columns.options}"><th><f:translate key="poll.options" /></th></f:if>
                <f:if condition="{settings.list.columns.author}"><th><f:translate key="poll.author" /></th></f:if>
                <f:if condition="{settings.list.columns.lastChanges}"><th><f:translate key="poll.lastChange" /></th></f:if>
                <f:if condition="{settings.list.columns.participants}"><th><f:translate key="poll.participants" /></th></f:if>
            </tr>
            </thead>
            <tbody>
            <f:if condition="{polls -> f:count()} > 0">
                <f:then>
                    <f:if condition="{settings.list.itemsPerPage} > 0">
                        <f:then>
                            <f:widget.paginate objects="{polls}" as="paginatedPolls"
                                               configuration="{itemsPerPage:settings.list.itemsPerPage, insertBelow: 1, maximumNumberOfLinks: 99}">
                                <f:for each="{paginatedPolls}" as="poll">
                                    <f:render section="pollRow" arguments="{poll:poll}"/>
                                </f:for>
                            </f:widget.paginate>
                        </f:then>
                        <f:else>
                            <f:for each="{polls}" as="poll">
                                <f:render section="pollRow" arguments="{poll:poll}"/>
                            </f:for>
                        </f:else>
                    </f:if>
                </f:then>
                <f:else>
                    <tr>
                        <td colspan="99"><span class="text-empty"><f:translate key="label.noPollsFound" /></span></td>
                    </tr>
                </f:else>
            </f:if>
            </tbody>
        </table>
    </div>
</f:section>

<f:section name="pollRow">
    <tr>
        <td>
            <f:render section="columnTitle" arguments="{poll:poll}" />
            <f:section name="columnTitle">
                <f:link.action action="show" arguments="{poll : poll}" class="font-weight-bold poll-link">{poll.title}</f:link.action>
                <f:if condition="!{poll -> t3oodle:permission(action:'viewingInGeneral')}">
                    <f:translate key="label.onlyVisibleForYou" />
                </f:if>
                <f:if condition="{poll.isCurrentUserAuthor}">
                    <t3oodle:svg class="mx-1 icon-light" path="Icons/crown-solid.svg" title="{f:translate(key:'label.youAreTheAuthor')}"/>
                </f:if>
                <f:if condition="{poll.hasCurrentUserVoted}">
                    <t3oodle:svg class="mx-1 icon-light" path="Icons/check-gray.svg" title="{f:translate(key:'label.alreadyVoted')}"/>
                </f:if>
            </f:section>
        </td>
        <f:if condition="{settings.list.columns.type}">
            <td>
                <f:render section="columnType" arguments="{poll:poll}" />
                <f:section name="columnType">
                    <span><f:translate key="poll.type.{poll.type}">{poll.type}</f:translate></span>
                </f:section>
            </td>
        </f:if>
        <f:if condition="{settings.list.columns.status}">
            <td>
                <f:render section="columnStatus" arguments="{poll:poll}" />
                <f:section name="columnStatus">
                    <span><f:translate key="poll.status.{poll.status}">{poll.status}</f:translate></span>

                    <f:if condition="{poll.settingVotingExpiresAt}">
                        <t3oodle:svg class="mx-1 icon-light" path="Icons/clock-regular.svg"
                                     title="{f:translate(key:'label.pollExpireNotice', arguments:'{0:\'{poll.settingVotingExpiresAt -> f:format.date(format:\"{settings.dateTimeFormat}\")}\'}')}" />
                    </f:if>
                    <f:if condition="{poll.settingSecretVotings} || {poll.settingSecretParticipants}">
                        <t3oodle:svg class="mx-1 icon-light" path="Icons/user-secret-solid.svg"
                                     title="{f:translate(key:'label.pollSecretNotice')}"/>
                    </f:if>
                </f:section>
            </td>
        </f:if>
        <f:if condition="{settings.list.columns.options}">
            <td>
                <f:render section="columnOptions" arguments="{poll:poll}" />
                <f:section name="columnOptions">
                {poll.options -> f:count()}
                </f:section>
            </td>
        </f:if>
        <f:if condition="{settings.list.columns.author}">
            <td>
                <f:render partial="Poll/AuthorInfo" arguments="{poll:poll}"/>
            </td>
        </f:if>
        <f:if condition="{settings.list.columns.lastChanges}">
            <td>
                <f:render section="columnLastChanged" arguments="{poll:poll}" />
                <f:section name="columnLastChanged">
                    <f:if condition="{poll.published}">
                        <f:then>
                            <f:spaceless>
                                <f:if condition="{poll.finished}">
                                    <f:then>
                                        <t3oodle:svg class="mr-1 icon-light" path="Icons/flag-checkered-solid.svg"
                                                     title="{f:translate(key:'label.finishedAt')}"/>
                                        <span class="date">{poll.finishDate -> f:format.date(format:'{settings.dateTimeFormat}')}</span>
                                    </f:then>
                                    <f:else>
                                        <t3oodle:svg class="mr-1 icon-light" path="Icons/clock-regular.svg"
                                                     title="{f:translate(key:'label.publishedAt')}"/>
                                        <span class="date">{poll.publishDate -> f:format.date(format:'{settings.dateTimeFormat}')}</span>
                                    </f:else>
                                </f:if>
                            </f:spaceless>
                        </f:then>
                        <f:else><span class="text-unpublished"><f:translate key="label.unpublished" /></span></f:else>
                    </f:if>
                </f:section>
            </td>
        </f:if>
        <f:if condition="{settings.list.columns.participants}">
            <td>
                <f:render section="columnVotes" arguments="{poll:poll}" />
                <f:section name="columnVotes">
                    <f:if condition="{poll.published}">
                        <f:then>{poll.votes -> f:count()}</f:then>
                        <f:else>-</f:else>
                    </f:if>
                </f:section>
            </td>
        </f:if>
    </tr>
</f:section>

<f:section name="newButton">
    <f:if condition="{t3oodle:permission(action:'newSimplePoll')}">
		<f:link.action action="new" arguments="{pollType:'simple'}" class="btn btn-primary"><f:translate key="label.newPollSimple" /></f:link.action>
    </f:if>
    <f:if condition="{t3oodle:permission(action:'newSchedulePoll')}">
		<f:link.action action="new" arguments="{pollType:'schedule'}" class="btn btn-primary"><f:translate key="label.newPollSchedule" /></f:link.action>
    </f:if>
</f:section>
</html>
