<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:t3oodle="http://typo3.org/ns/T3/T3oodle/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="content">
    <f:flashMessages/>

    <f:render section="header" arguments="{poll:poll, contentObject:contentObject}" />
    <f:render section="form" arguments="{poll:poll, newOptions:newOptions, contentObject:contentObject, publishDirectly:publishDirectly}" />
</f:section>

<f:section name="header">
    <f:variable name="header"><f:translate key="header.new.{poll.type}"><f:translate key="header.new" /></f:translate></f:variable>
    <f:if condition="{header}">
    <h1>
        {header}
        <f:if condition="{settings.form.showReturnToListLink}">
            <f:link.action action="list" class="btn btn-link"><f:translate key="label.cancel" /></f:link.action>
        </f:if>
    </h1>
    </f:if>
</f:section>

<f:section name="form">
    <f:form action="create" name="poll" object="{poll}" class="my-4">
        <f:render partial="Poll/FormFields"
                  arguments="{poll:poll, newOptions:newOptions, contentObject:contentObject}"/>
        <div class="card mb-3">
            <div class="card-body">
                <div class="form-check">
                    <f:form.checkbox name="publishDirectly" value="1" checked="{publishDirectly}"
                                     class="form-check-input mr-3 larger" id="t3oodle-poll-publish-directly"/>
                    <label class="form-check-label" for="t3oodle-poll-publish-directly">
                        <strong>
                            <f:translate key="poll.publishDirectly.title"/>
                        </strong><br>
                        <f:translate key="poll.publishDirectly.description"/>
                    </label>
                </div>
            </div>
        </div>
        <f:form.submit class="btn btn-primary" value="{f:translate(key:'label.createNew')}"/>
        <f:if condition="{settings.form.showReturnToListLink}">
            <f:link.action action="list" class="btn btn-link"><f:translate key="label.backToList" /></f:link.action>
        </f:if>
    </f:form>
</f:section>
</html>
