<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:t3oodle="http://typo3.org/ns/T3/T3oodle/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:if condition="{option.full}">
        <f:then>
            <f:translate key="label.full" />
        </f:then>
        <f:else>
            <f:variable name="oneOptionOnlyClass"><f:if condition="{option.poll.settingOneOptionOnly}">one-option-only</f:if></f:variable>
            <f:form.hidden property="optionValues.{key}.option" value="{option}" />
            <f:form.select property="optionValues.{key}.value" options="{option.checkboxStates}" value="{value}" class="t3oodle-voting-checkbox {oneOptionOnlyClass}"></f:form.select>
        </f:else>
    </f:if>
</html>
