<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:t3oodle="http://typo3.org/ns/T3/T3oodle/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{vote.participantMail} && {settings.outputParticipantMails}">
    <f:then>
        <f:link.email email="{vote.participantMail}">{vote.participantName}</f:link.email>
        <f:if condition="{settings.outputGuestNotice} && !{poll.author}">
            <span class="text-guest"><f:translate key="label.guest" /></span>
        </f:if>
    </f:then>
    <f:else>
        <span>{vote.participantName}</span>
        <f:if condition="{settings.outputGuestNotice} && !{poll.author}">
            <span class="text-guest"><f:translate key="label.guest" /></span>
        </f:if>
    </f:else>
</f:if>
</html>
