<f:if condition="{poll.finished}">
    <f:then>
        <f:render section="poll-finished" arguments="{poll:poll, vote:vote}" />
        <f:section name="poll-finished">
            <div class="text-center">
                <p class="mb-1">The voting has been finished at <time class="font-weight-bold text-info" datetime="{poll.finishDate -> f:format.date(format:'%Y-%M-%d %H:%I')}">{poll.finishDate -> f:format.date(format:'{settings.dateTimeFormat}')}</time>.
                    The final option is:</p>
                <p class="lead"><strong>{poll.finalOption.name}</strong></p>
            </div>
        </f:section>
    </f:then>
    <f:else>
        <f:render section="poll-not-finished" arguments="{poll:poll, vote:vote}" />
        <f:section name="poll-not-finished">
            <div class="text-right mt-2">
                <f:if condition="{poll.settingOneOptionOnly}">
                    <f:then>
                        <span class="text-dark mr-2">
                            <f:translate key="label.oneOptionOnly" />
                        </span>
                        <f:if condition="{vote.uid}">
                            <span class="text-already-voted mr-2"><f:translate key="label.youveVoted" /></span>
                        </f:if>
                    </f:then>
                    <f:else>
                        <f:if condition="{vote.uid}">
                            <span class="text-already-voted mr-2"><f:translate key="label.youveVoted" /></span>
                        </f:if>
                        <span id="t3oodle-votes-summary"></span>
                    </f:else>
                </f:if>
                <f:if condition="{poll -> t3oodle:permission(action:'voting')}">
                    <f:then>
                        <f:if condition="{vote.uid}">
                            <f:then><f:form.submit class="btn btn-primary button-vote" value="{f:translate(key:'label.updateVote')}" tabindex="3" /></f:then>
                            <f:else><f:form.submit class="btn btn-primary button-vote" value="{f:translate(key:'label.vote')}" tabindex="3" /></f:else>
                        </f:if>
                    </f:then>
                    <f:else>
                        <f:if condition="{poll.availableOptions -> f:count()} == 0">
                            <span class="my-5">
                                <f:translate key="label.limitPerOptionsReached" arguments="{0: '{poll.settingMaxVotesPerOption}'}" />
                            </span>
                        </f:if>
                        <f:form.submit class="btn btn-light button-vote" value="{f:translate(key:'label.votingDisabled')}" disabled="disabled" />
                    </f:else>
                </f:if>
            </div>
        </f:section>
    </f:else>
</f:if>




