.tx-t3oodle textarea.f3-form-error {
    background-color:#FFCECC;
    border: 1px var(--danger) solid;
}
.tx-t3oodle input.f3-form-error {
    background-color:#FFCECC;
    border: 1px var(--danger) solid;
}
.tx-t3oodle .typo3-messages {
    margin: 0;
    padding: 0;
    list-style: none;
}
.tx-t3oodle .typo3-messages .alert-message {
    margin-bottom: 0;
}
.tx-t3oodle .typo3-messages .message-error {
    color: var(--danger);
}
.tx-t3oodle .typo3-messages .message-ok {
    color: var(--success);
}

.form-control.t3oodle-new-poll-option,
.t3oodle-new-poll-option {
    display: inline-block;
    width: calc(100% - 5rem);
    min-width: 10rem;
    margin-right: .5rem;
}
ol.t3oodle-poll-options {
    list-style: none;
    padding-left: 2.4rem;
    counter-reset: t3oodle-poll-options-counter;
}
ol.t3oodle-poll-options > li {
    counter-increment: t3oodle-poll-options-counter;
    margin-bottom: .5rem;
}
ol.t3oodle-poll-options > li::before {
    content: counter(t3oodle-poll-options-counter) ". ";
    position: absolute;
    width: 2rem;
    margin-left: -2.4rem;
    color: var(--blue);
    font-weight: bold;
    text-align: right;
    padding: .375rem 0;
}
select.t3oodle-voting-checkbox,
ol.t3oodle-poll-options > li:last-child button.t3oodle-poll-option-remove,
ol.t3oodle-options-per-day > li:last-child button.t3oodle-poll-option-remove {
    display: none;
}

.tx-t3oodle input.input-date, .tx-t3oodle input.input-time {
    display:inline-block;
    width: auto;
}

.tx-t3oodle .new-option-per-day {
    display: inline-block;
    width: calc(100% - 5rem);
}

.tx-t3oodle .form-check {
    padding-left: 2rem;
}
.tx-t3oodle input[type=radio].form-check-input.larger,
.tx-t3oodle input[type=checkbox].form-check-input.larger {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: -2rem;
}
.tx-t3oodle span.required {
    color: var(--danger);
}

.tx-t3oodle .voting table thead tr:first-child th {
    font-weight: normal;
}
.tx-t3oodle .voting table th {
    word-break: break-word;
}
.tx-t3oodle .voting table th,
.tx-t3oodle .voting table td,
.tx-t3oodle .finishing table th,
.tx-t3oodle .finishing table td {
    text-align: center;
    vertical-align: middle;
}

.tx-t3oodle .voting table th.odd,
.tx-t3oodle .voting table td.odd {
    background-color: rgba(0, 0, 0, 0.05);
}

.tx-t3oodle .voting table thead tr:first-child th {
    border-bottom: 1px solid var(--gray);
}
.tx-t3oodle .voting table thead tr:last-child th {
    border-bottom: 1px solid var(--gray) !important;
}

.tx-t3oodle .voting table tr > th:first-child,
.tx-t3oodle .voting table tr > td:first-child,
.tx-t3oodle .finishing table tr > th:first-child,
.tx-t3oodle .finishing table tr > td:first-child
{
    text-align: left;
    min-width: 12rem;
}

.t3oodle-checkbox-icon {
    width: 1rem;
    height: 1rem;
}

.tx-t3oodle .t3oodle-voting-image {
    width: 1.75rem;
    height: 1.75rem;
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;

    -webkit-transition: border-color 0.25s;
    transition: border-color 0.25s;
    padding: 2px;
}

.tx-t3oodle .t3oodle-voting-image:hover {
    border-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: border-color 0.25s;
    transition: border-color 0.25s;
}

.tx-t3oodle .t3oodle-voting-image:focus {
    outline: none;
    border-color: rgba(0, 0, 0, 0.6);
    -webkit-transition: border-color 0.25s;
    transition: border-color 0.25s;
}

.tx-t3oodle .t3oodle-voting-image path {
    fill: #f00;
}

.tx-t3oodle .is-final-option.voting-status,
.tx-t3oodle .is-final-option {
    background: #ddf4ff !important;
    color: #2c5466;
    border-left:3px solid #0f5f84 !important;
    border-right:3px solid #0f5f84 !important;
    font-weight: bold;
}
.tx-t3oodle th.title.is-final-option {
    font-weight: bold !important;
    border-top:3px solid #0f5f84 !important;
}
.tx-t3oodle table {
    /*border: 1px solid #ddd;*/
}
.tx-t3oodle table tr.vote {
    border-bottom: 1px solid #ddd;
}
.tx-t3oodle table th.participant,
.tx-t3oodle table td.participant {
    border-right: 1px solid var(--dark);
}
.tx-t3oodle table tr.vote:last-child {
    border-bottom: none;
}
.tx-t3oodle table tr.vote:last-child .is-final-option {
    border-bottom:3px solid #0f5f84 !important;
}
.tx-t3oodle .voting-status img {
    width: 1.5rem;
    height: 1.5rem;
}
.tx-t3oodle .voting-status-0 {
    background: rgba(243, 17, 17, 0.15) !important;
}
.tx-t3oodle .voting-status-0.odd {
    background: rgba(243, 17, 17, 0.25) !important;
}
.tx-t3oodle .voting-status-1 {
    background: rgba(111, 229, 27, 0.25) !important;
}
.tx-t3oodle .voting-status-1.odd {
    background: rgba(111, 229, 27, 0.35) !important;
}
.tx-t3oodle .voting-status-2 {
    background: rgba(255, 220, 0, 0.25) !important;
}
.tx-t3oodle .voting-status-2.odd {
    background: rgba(255, 220, 0, 0.35) !important;
}

.tx-t3oodle .svg-icon {
    width: 1rem;
    max-height: 1rem;
    display: inline-block;
}

.tx-t3oodle .icon-light {
    color: #888;
}

.tx-t3oodle .date-group {
    line-height: 1;
    color: rgba(0, 0, 0, 0.7);
    word-break: keep-all;
}
.tx-t3oodle .date-group .day {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    line-height: 1.3;
}
.tx-t3oodle .date-group .weekday {
    text-transform: uppercase;
}

.tx-t3oodle .date-group .weekday-7 {
    color: var(--red)
}

.tx-t3oodle span.text-guest,
.tx-t3oodle span.text-empty,
.tx-t3oodle span.text-unpublished {
    color: var(--secondary);
    font-style: italic;
}

.tx-t3oodle .button-vote {
    margin-top: -0.4rem;
}
